body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

header a {
    font-size: 24px;
    color: #272343;
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

#root {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main a {
    color: #FFFFFE;
    text-decoration: none;
}

li {
    list-style: none;
}

.songs--container, .lyrics--container {
    background-color: #272343;
}

.lyrics--container {
    font-size: 16px; 
    color: #FFFFFE;
    padding: 70px;
}

.style--container {
    display: flex;
    gap: 32px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.songs-desc {
    font-size: 24px; 
    color: #000000;
    padding-top: 32px;
    padding-bottom: 32px;
}

.songs--container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 5px;
    color: #FFFFFE;
}

span {
    margin-right: 6px;
}

p {
    font-size: 24px;
    margin: 0;
}